html, body, tr, td {
    font-family: input-mono, monospace;
    font-size: 1em;
}

div#logo {
    text-align: center;
}

pre#logo {
    display: inline-block;
    text-align: left;
    font-size: 1em;
}

hr {
    border: 0;
    height: 2px;
}

div#main {
    width: 70ch;
    margin: 0 auto;
}

li {
    position: relative;
    list-style: none;
}

ul {
    padding-inline-start: 0px;
}

a:before {
    content: "=> ";
}

input, textarea {
    font-family: input-mono, monospace;
    width: 100%;
    border: 0;
}

table {
    text-align: left;
    width: 100%;
    padding: 5px;
}