html, input, textarea {
    background-color: black;
    color: #CCCCCC;
}

b, a, a:link, a:visited, a:active, h3 {
    color: #F2F2F2;
}

a:hover {
    color: #F9F1A5;
}

input, textarea, table {
    border: 1px solid #767676;
}

@media screen and (prefers-color-scheme: light) {
    html, input, textarea {
        background-color: white;
        color: black;
    }
    b, a, a:link, a:visited, a:active, h3 {
        color: black;
    }
    a:hover {
        color: gray;
    }
    input, textarea, table {
        border: 1px solid black;
    }
}